:root {
    --orange: #D1512D;
    --purple: #411530;
    --lightcolour: #F5C7A9;
    --offwhite: #D9D9D9;
    --buttoncolour: #F5C7A9;
}

html,
body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--lightcolour);
    background-size: 100% 100%;
}

#maingrid, #aboutgrid, #contactgrid, #menugrid {
    margin: 0 auto;
    max-width: 1920px;
}

.orangetext {
    color: var(--orange)
}



#menugrid {
    display: grid;
    box-sizing: border-box;
    height: 100%;
    grid-template-rows: min-content 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    grid-gap: 2rem;
    background-color: none;
}

#contactTitle {
    grid-column: 1/3;
}

#menuTitle, #contactTitle {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

#menuTitleDiv, #contactTitleDiv {
    display: flex;
    background-color: var(--purple);
    box-sizing: border-box;
    grid-column: 1/4;
    height: auto;
    width: fit-content;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#contactUsRightFloatie, #menuTitleDiv, #contactTitleDiv, .menuElement, .sidefloatie, .middlefloatie, #aboutUsRightFloatie {
    box-shadow: 5px 5px 15px black;
    outline: none;
    border: none;
    overflow: hidden;
}

.menuItemBackground {
    height: 100%;
    width: 100%;
    border-radius: 1.8rem 0.5rem;
    background-color: var(--offwhite);
    display: grid;
    grid-template-columns: 2fr 5px 3fr;
    grid-template-rows: auto 4rem;
    justify-items: center;
    align-items: center;
    overflow: scroll;
}

.menuItemDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    border-bottom: 5px solid var(--purple);
}

.menuItemPrice {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 1.7rem;
    margin: 0;
    padding: 0;
}


.menuDividingLine {
    height: 100%;
    width: 100%;
    background-color: var(--purple);
    grid-row: 1/3;
}

.menuItemName {
    grid-row: 1/3;
    text-align: center;
}


.menuElement {
    background-color: var(--purple);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    border-radius: 2rem 0.5rem;
    box-shadow: 5px 5px 15px black;
    outline: none;
    border: none;
}

#aboutgrid, #contactgrid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 30px;
    justify-items: center;
    align-items: center;
}



#header {
    background-color: var(--orange);
    display: grid;
    align-items: center;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 4rem;
}

.navbarbutton {
    outline: none;
    border: none;
    background: none;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}

#buttondiv {
    display: flex;
    justify-content: end;
    gap: 50px;
}

#mainTitle {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

#content {
    height: calc(100% - 65px);
}

#maingrid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.sidefloatie {
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    background-color: var(--purple);
    padding: 1.5rem 3rem 1.5rem 3rem;
    border-radius: 56px;
    align-items: center;
    width: 40%;
}

.sideFloatieTitle {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: 300;
}

.floatiebutton {
    margin-top: 20px;
    font-size: 1.85rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1.2rem;
    outline: none;
    border: none;
    background-color: var(--buttoncolour);
    cursor: pointer;
}

#servicesgrid, #offersgrid {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

#aboutUsFloatie, #contactUsFloatie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#contactUsFloatie {
    height: 70%;
    overflow: scroll;
}

#aboutUsText, #contactUsText {
    color: var(--offwhite);
    text-align: center;
    hyphens: auto;
}

.serviceGridElement, .offersGridElement {
    display: grid;
    grid-template-columns: 69px auto;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: var(--offwhite);
    font-size: 1.3rem;
    padding: 7px;
    border-radius: 30px;
    width: 100%;
}

.offersGridElement {
    grid-template-columns: 1fr 1fr;
    text-align: center;
    cursor: pointer;
}

.serviceGridElement p, .offersGridElement p {
    color: var(--purple)
}

.middlefloatie {
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-column: 2;
    background-color: var(--purple);
    padding: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 56px;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.middlefloatie h1 {
    margin-top: 0;
    font-weight: 300;
}

.middlefloatie h2 {
    margin-bottom: 0;
    font-weight: 200;
}

ul, li {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 1.4rem;
    font-size: 1.4rem;
    font-weight: 200;
}

#aboutUsRightFloatie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    grid-row-start: 2;
    grid-column: 2;
    background-color: var(--purple);
    padding: 2rem;
    border-radius: 56px;
    height: 90%;
    width: 80%;
}

#contactRightFloatieTitle {
    color: white;
}

#contactUsRightFloatie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-row-start: 2;
    grid-column: 2;
    background-color: var(--purple);
    padding: 1rem;
    border-radius: 56px;
    height: 100%;
    width: 80%;
    overflow: scroll;
}

.aboutUsRightFloatieElement, .contactUsRightFloatieElement {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 100px 3rem auto;
    justify-items: center;
    align-items: center;
    border-radius: 1.5rem;
    background-color: var(--offwhite);
    text-align: center;
    padding: 1rem;
    padding-top: 0;
}


.currentPageButton {
    color: var(--purple) !important;
}

#footerBar {
    text-align: center;
    height: 25px;
}

label {
    color: white;
}

.contactInputField {
    outline: none;
    border: none;
    height: 2rem;
    width: 100%;
    background-color: var(--offwhite);
    border-radius: 2rem;
    align-self: center;
    max-width: 100%;
    padding-left: 1rem;
    box-sizing: border-box;
}

.contactInputField:focus {
    background-color: white;
}

#contactForm {
    display: grid;
    grid-template-rows: 2rem 2rem 3fr 1fr;
    grid-template-columns: 1fr 5fr 1fr 5fr;
    justify-items: center;
    align-items: center;
    height: 90%;
    width: 90%;
    max-width: 100%;
    grid-gap: 1rem;
    margin-top: 0;
    box-sizing: border-box;
}

#messageLabel {
    grid-column: 1/5;
}

#message {
    box-sizing: border-box;
    grid-column: 1/5;
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding: 1rem;
    resize: none;
    max-width: 100%;
}

#contactSendButton {
    box-sizing: border-box;
    height: auto;
    width: auto;
    grid-column: 1/5;
    outline: 0;
    border: 0;
    background-color: var(--buttoncolour);
    padding: 1rem;
    font-size: x-large;
    border-radius: 2rem;
}


#contactgrid {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
}