:root {
    --orange: #D1512D;
    --purple: #411530;
    --lightcolour: #F5C7A9;
    --offwhite: #D9D9D9;
    --buttoncolour: #F5C7A9;
}

html,
body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--lightcolour);
    background-size: 100% 100%;
}

.orangetext {
    color: var(--orange)
}

#header {
    background-color: var(--orange);
    display: grid;
    align-items: center;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 4rem;
}

#header button {
    outline: none;
    border: none;
    background: none;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}

#buttondiv {
    display: flex;
    justify-content: end;
    gap: 50px;
}

#mainTitle {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

#content {
    height: calc(100% - 65px);
}

#maingrid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
}

.sidefloatie {
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    background-color: var(--purple);
    padding: 1.5rem 3rem 1.5rem 3rem;
    border-radius: 56px;
    align-items: center;
    width: 200px;
}

#servicesTitle, #offersTitle {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: 300;
}

.floatiebutton {
    margin-top: 20px;
    font-size: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 1.2rem;
    outline: none;
    border: none;
    background-color: var(--buttoncolour)
}

#servicesgrid, #offersgrid {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 110%;
    gap: 10px;
}

.serviceGridElement, .offersGridElement {
    display: grid;
    grid-template-columns: 69px auto;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--offwhite);
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 30px;
    width: 100%;
}

.offersGridElement {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    text-align: center;
    font-size: 1.3rem;
    padding: 0;
}

.serviceGridElement p, .offersGridElement p {
    color: var(--purple)
}

#middlefloatie {
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-column: 2;
    background-color: var(--purple);
    padding: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 56px;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#middlefloatie h1 {
    margin-top: 0;
    font-weight: 300;
}

#middlefloatie h2 {
    margin-bottom: 0;
    font-weight: 200;
}

ul, li {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 1.4rem;
    font-size: 1.4rem;
    font-weight: 200;
}

#rightfloatie {
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-column: 3;
    background-color: var(--purple);
    padding: 4rem;
    border-radius: 56px;
}

